*{
  text-align: center;
  font-family: 'Silkscreen', cursive;
}

table, th, td {
    border:1px solid black;
}

h1, h2, h3 {
  color: blueviolet;
}

li {
  list-style-type: none;
}

table {
margin: auto;
}
