*{
  text-align: center;
  font-family: 'Silkscreen', cursive;
  color: black;
  margin: 2rem;
  margin: 0; padding: 0;
}

html { 
  background: url('assets/maxresdefault.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: contrast(1);
  
}

table, th, td {
    border:1px solid black;
}

h1, h2, h3 {
  color: beige;
}

li {
  list-style-type: none;
}

table {
margin: auto;
}
